Data Cleaning
Data cleaning is a common and very important task when working with data.

Clean the data by:

removing rows that have values which are missing,
changing the data type of some values within a column, and
removing columns which are not relevant to this task.
Think about how each column might be relevant to the business question you’re investigating. If you can’t think of why a column may be useful, it may not be worth including it.

In [24]:
#importing the libraries needed for the task

!pip install pandas
!pip install xlrd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import xlrd
%matplotlib inline

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: xlrd in c:\users\user\anaconda3\lib\site-packages (2.0.1)

In [25]:
# importing and cleaning the Reaction types data
reaction_types=pd.read_csv("ReactionTypes.csv") 
reaction_types

    Unnamed: 0         Type Sentiment  Score
0            0        heart  positive     60
1            1         want  positive     70
2            2      disgust  negative      0
3            3         hate  negative      5
4            4   interested  positive     30
5            5  indifferent   neutral     20
6            6         love  positive     65
7            7   super love  positive     75
8            8      cherish  positive     70
9            9        adore  positive     72
10          10         like  positive     50
11          11      dislike  negative     10
12          12    intrigued  positive     45
13          13      peeking   neutral     35
14          14       scared  negative     15
15          15      worried  negative     12

In [26]:
# Remove the "Unnamed: 0" column
reaction_types = reaction_types.drop("Unnamed: 0", axis=1)
reaction_types

           Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30
5   indifferent   neutral     20
6          love  positive     65
7    super love  positive     75
8       cherish  positive     70
9         adore  positive     72
10         like  positive     50
11      dislike  negative     10
12    intrigued  positive     45
13      peeking   neutral     35
14       scared  negative     15
15      worried  negative     12

In [27]:
#getting information on the data
reaction_types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Type       16 non-null     object
 1   Sentiment  16 non-null     object
 2   Score      16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 516.0+ bytes

The data types are all okay. Next is to load and clean the reaction data

In [28]:
# importing and cleaning the Reaction data
reactions=pd.read_csv("Reactions.csv") 
reactions

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,4/22/2021 15:17
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,11/7/2020 9:43
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,6/17/2021 12:22
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,4/18/2021 5:13
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,1/6/2021 19:13
...,...,...,...,...,...
25548,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,6/27/2020 9:46
25549,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2/16/2021 17:17
25550,25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,9/12/2020 3:54
25551,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,11/4/2020 20:08
25552,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,1/4/2021 4:55

In [29]:
# Remove the "Unnamed: 0" column
reactions = reactions.drop("Unnamed: 0", axis=1)
reactions

,Content ID,User ID,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,4/22/2021 15:17
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,11/7/2020 9:43
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,6/17/2021 12:22
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,4/18/2021 5:13
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,1/6/2021 19:13
...,...,...,...,...
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,6/27/2020 9:46
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2/16/2021 17:17
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,9/12/2020 3:54
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,11/4/2020 20:08
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,1/4/2021 4:55

In [30]:
# dropping the User ID column
reactions = reactions.drop("User ID", axis=1)
reactions

                                 Content ID        Type         Datetime
0      97522e57-d9ab-4bd6-97bf-c24d952602d2         NaN  4/22/2021 15:17
1      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust   11/7/2020 9:43
2      97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike  6/17/2021 12:22
3      97522e57-d9ab-4bd6-97bf-c24d952602d2      scared   4/18/2021 5:13
4      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust   1/6/2021 19:13
...                                     ...         ...              ...
25548  75d6b589-7fae-4a6d-b0d0-752845150e56     dislike   6/27/2020 9:46
25549  75d6b589-7fae-4a6d-b0d0-752845150e56   intrigued  2/16/2021 17:17
25550  75d6b589-7fae-4a6d-b0d0-752845150e56  interested   9/12/2020 3:54
25551  75d6b589-7fae-4a6d-b0d0-752845150e56     worried  11/4/2020 20:08
25552  75d6b589-7fae-4a6d-b0d0-752845150e56     cherish    1/4/2021 4:55

[25553 rows x 3 columns]

In [31]:
# finding the number of rows with no data
missing_values_per_row = reactions.isnull().sum(axis=1)
rows_with_missing_data = missing_values_per_row[missing_values_per_row > 0].count()

print(f"Number of rows with no data: {rows_with_missing_data}")

Number of rows with no data: 980

In [32]:
# drop the rows with missing data
reaction = reactions.dropna()
print(reaction)

                                 Content ID        Type         Datetime
1      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust   11/7/2020 9:43
2      97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike  6/17/2021 12:22
3      97522e57-d9ab-4bd6-97bf-c24d952602d2      scared   4/18/2021 5:13
4      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust   1/6/2021 19:13
5      97522e57-d9ab-4bd6-97bf-c24d952602d2  interested  8/23/2020 12:25
...                                     ...         ...              ...
25548  75d6b589-7fae-4a6d-b0d0-752845150e56     dislike   6/27/2020 9:46
25549  75d6b589-7fae-4a6d-b0d0-752845150e56   intrigued  2/16/2021 17:17
25550  75d6b589-7fae-4a6d-b0d0-752845150e56  interested   9/12/2020 3:54
25551  75d6b589-7fae-4a6d-b0d0-752845150e56     worried  11/4/2020 20:08
25552  75d6b589-7fae-4a6d-b0d0-752845150e56     cherish    1/4/2021 4:55

[24573 rows x 3 columns]

In [33]:
reactions.head()

                             Content ID     Type         Datetime
0  97522e57-d9ab-4bd6-97bf-c24d952602d2      NaN  4/22/2021 15:17
1  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust   11/7/2020 9:43
2  97522e57-d9ab-4bd6-97bf-c24d952602d2  dislike  6/17/2021 12:22
3  97522e57-d9ab-4bd6-97bf-c24d952602d2   scared   4/18/2021 5:13
4  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust   1/6/2021 19:13

In [34]:
# Checking for duplicate rows

   
duplicate_rows = reactions[reactions.duplicated()]

if not duplicate_rows.empty:
    print("Duplicate rows found:")
    print(duplicate_rows)
else:
    print("No duplicate rows found.")

No duplicate rows found.

The data column is combining both the date and time. this can actually be separated to allow the time appear in a separate column but since this will not affect the analysis that will be carried out in this project, it is okay to be left the way it is.

In [35]:
# importing and cleaning the Content data
content=pd.read_csv("Content.csv") 
content

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking,NaN
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [37]:
# Remove the "Unnamed: 0" column
content = content.drop("Unnamed: 0", axis=1)
content

,Content ID,User ID,Type,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...
995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking,NaN
996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [38]:
#the user ID column is not relevant to the business question to be answered, so i will remove the colum

content = content.drop("User ID", axis=1)
content

,Content ID,Type,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,01ab84dd-6364-4236-abbb-3f237db77180,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...
995,b4cef9ef-627b-41d7-a051-5961b0204ebb,video,public speaking,NaN
996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [39]:
#the URL column is also not relevant to the business question to be answered, so i will remove the column

content = content.drop("URL", axis=1)
content

                               Content ID   Type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2  photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo   healthy eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f  photo   healthy eating
3    356fff80-da4d-4785-9f43-bc1261031dc6  photo       technology
4    01ab84dd-6364-4236-abbb-3f237db77180  video             food
..                                    ...    ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb  video  public speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c    GIF       technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b  audio         veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7    GIF          culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56  audio       technology

[1000 rows x 3 columns]

# The types column in content data frame refereing to the content type will need to be renamed "content type " in order not to be confused with reaction type in the reactions data frame

In [40]:
# renaming the type column

content = content.rename(columns={'Type': 'content type'})
content

                               Content ID content type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2        photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo   healthy eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f        photo   healthy eating
3    356fff80-da4d-4785-9f43-bc1261031dc6        photo       technology
4    01ab84dd-6364-4236-abbb-3f237db77180        video             food
..                                    ...          ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb        video  public speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c          GIF       technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b        audio         veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7          GIF          culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56        audio       technology

[1000 rows x 3 columns]

In [41]:
#Checking for duplicate rows

   
duplicate_rows = content[content.duplicated()]

if not duplicate_rows.empty:
    print("Duplicate rows found:")
    print(duplicate_rows)
else:
    print("No duplicate rows found.")

No duplicate rows found.

In [42]:
# finding the number of rows with no data
missing_values_per_row = content.isnull().sum(axis=1)
rows_with_missing_data = missing_values_per_row[missing_values_per_row > 0].count()

print(f"Number of rows with no data: {rows_with_missing_data}")

Number of rows with no data: 0

The content data frame looks clean enough to be merged with the other two data frame. Before i will proceed to do this, i will preview all the three different data frames before merging them together for further analysis

In [43]:
reaction_types.head()

         Type Sentiment  Score
0       heart  positive     60
1        want  positive     70
2     disgust  negative      0
3        hate  negative      5
4  interested  positive     30

In [44]:
reactions.head()

                             Content ID     Type         Datetime
0  97522e57-d9ab-4bd6-97bf-c24d952602d2      NaN  4/22/2021 15:17
1  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust   11/7/2020 9:43
2  97522e57-d9ab-4bd6-97bf-c24d952602d2  dislike  6/17/2021 12:22
3  97522e57-d9ab-4bd6-97bf-c24d952602d2   scared   4/18/2021 5:13
4  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust   1/6/2021 19:13

In [45]:
content.head()

                             Content ID content type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2        photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo  healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f        photo  healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6        photo      technology
4  01ab84dd-6364-4236-abbb-3f237db77180        video            food

I observed in the reactions data that some rows still contain nan in the type column, i will remove the rows befor proceeding to merge the data frames

In [48]:
reactions = reactions.dropna(subset=['Type'], axis=0)
reactions.head()

                             Content ID        Type         Datetime
1  97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust   11/7/2020 9:43
2  97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike  6/17/2021 12:22
3  97522e57-d9ab-4bd6-97bf-c24d952602d2      scared   4/18/2021 5:13
4  97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust   1/6/2021 19:13
5  97522e57-d9ab-4bd6-97bf-c24d952602d2  interested  8/23/2020 12:25

To merge the data frames, the content and  the reactions data frames will be merged based on the content ID column while the meged data frame will be merged to the reaction_type data frame based on the column "type"

In [50]:
#merge tables on content ID columns
Performance = reactions.merge(content,on='Content ID')
Performance

,Content ID,Type,Datetime,content type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,11/7/2020 9:43,photo,Studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,6/17/2021 12:22,photo,Studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,4/18/2021 5:13,photo,Studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,1/6/2021 19:13,photo,Studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,8/23/2020 12:25,photo,Studying
...,...,...,...,...,...
24568,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,6/27/2020 9:46,audio,technology
24569,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2/16/2021 17:17,audio,technology
24570,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,9/12/2020 3:54,audio,technology
24571,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,11/4/2020 20:08,audio,technology
24572,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,1/4/2021 4:55,audio,technology

In [53]:
#merge tables on  type column
Buzz_Performance = Performance.merge(reaction_types,on='Type')
Buzz_Performance

,Content ID,Type,Datetime,content type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,11/7/2020 9:43,photo,Studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,1/6/2021 19:13,photo,Studying,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,4/9/2021 2:46,photo,Studying,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,3/28/2021 21:15,photo,healthy eating,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,8/4/2020 5:40,photo,healthy eating,negative,0
...,...,...,...,...,...,...,...
24568,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,10/4/2020 22:26,audio,veganism,positive,72
24569,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,9/18/2020 10:50,audio,veganism,positive,72
24570,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,10/31/2020 3:58,GIF,culture,positive,72
24571,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,6/25/2020 15:12,GIF,culture,positive,72
24572,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,12/17/2020 16:32,GIF,culture,positive,72

In [54]:
# I will further like to change the column "Type" to "reaction type " to make the column more meaningfull

Buzz_Performance = Buzz_Performance.rename(columns={'Type': 'reaction type'})
Buzz_Performance

,Content ID,reaction type,Datetime,content type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,11/7/2020 9:43,photo,Studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,1/6/2021 19:13,photo,Studying,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,4/9/2021 2:46,photo,Studying,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,3/28/2021 21:15,photo,healthy eating,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,8/4/2020 5:40,photo,healthy eating,negative,0
...,...,...,...,...,...,...,...
24568,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,10/4/2020 22:26,audio,veganism,positive,72
24569,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,9/18/2020 10:50,audio,veganism,positive,72
24570,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,10/31/2020 3:58,GIF,culture,positive,72
24571,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,6/25/2020 15:12,GIF,culture,positive,72
24572,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,12/17/2020 16:32,GIF,culture,positive,72

Top Category Analysis

To determing the top five most popular category as requested by the client, Social Buzz is to find the total sum of the score based on the different category, i.e find the highest aggregate popularity for each category, we simply have to sum this value by category.

In [56]:
#group by category and calculate total score
popular_five = Buzz_Performance.groupby('Category').sum().sort_values(by='Score',ascending=False)
popular_five.head()

,Content ID,reaction type,Datetime,content type,Sentiment,Score
Category,,,,,,
animals,4fa14453-7b29-4302-b51f-9aa23b472c1b4478d98e-4...,disgustdisgustdisgustdisgustdisgustdisgustdisg...,9/8/2020 15:307/5/2020 20:021/21/2021 16:002/2...,audioaudiophotophotophotophotophotovideovideov...,negativenegativenegativenegativenegativenegati...,69548
healthy eating,9f737e0a-3cdd-4d29-9d24-753f4e3be810230c4e4d-7...,disgustdisgustdisgustdisgustdisgustdisgustdisg...,3/28/2021 21:158/4/2020 5:403/8/2021 2:516/30/...,photophotophotoGIFGIFGIFGIFGIFGIFGIFGIFGIFGIFv...,negativenegativenegativenegativenegativenegati...,69067
technology,49367a0f-1fd5-4417-a7c9-4a154e1ae0ad49367a0f-1...,disgustdisgustdisgustdisgustdisgustdisgustdisg...,8/1/2020 8:0010/6/2020 11:279/21/2020 9:102/4/...,photophotovideovideovideoGIFaudioaudioaudioaud...,negativenegativenegativenegativenegativenegati...,67472
science,5118e9c5-1377-4cc5-a486-65b35b7b7b7634a3747a-0...,disgustdisgustdisgustdisgustdisgustdisgustdisg...,11/7/2020 8:494/28/2021 7:008/5/2020 15:3710/2...,GIFGIFGIFvideovideovideovideovideoaudioaudioau...,negativenegativenegativenegativenegativenegati...,66043
cooking,02fa1c4f-722d-46d2-a85e-e5b136b5f3bc02fa1c4f-7...,disgustdisgustdisgustdisgustdisgustdisgustdisg...,1/17/2021 23:436/23/2020 11:2810/23/2020 11:36...,videovideoGIFGIFGIFGIFGIFGIFGIFGIFGIFGIFvideov...,negativenegativenegativenegativenegativenegati...,63982

In [57]:
# writing the result into a csv file
popular_five.to_csv('social_buzz_popular_five.csv')

In [59]:
# writing the result into an excel file
popular_five.to_excel('social_buzz_popular_five.xlsx')

In [60]:
# writing the Buzz-Performance result into an excel file
Buzz_Performance.to_excel('social_buzz_performance.xlsx')